$aqua: hsla(181, 50%, 34%, 1);
$aquamarine: hsla(181, 50%, 34%, 0.25);
$thorn: hsla(77, 87%, 40%, 0.25);
$mint: hsla(77, 87%, 40%, 0.7);
$ink: hsla(247, 55%, 4%, 1);

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: $ink;
  // line-height: 1.15;
}

.wrapper {
  padding: 0 1rem;
  width: 90%;
  max-width: 900px;
  margin: auto;
}

header, footer {
  text-align: center;
  margin: 0 auto 1rem;
  padding-bottom: 1rem;
  p {
    font-size: 1.2rem;
  }
  h1 {
    border-bottom: 1px solid $thorn;
  }
  a {
    text-decoration: none;
    color: $mint;
    margin: 0 1rem;
    &:hover {
      text-shadow: 1px 1px 3px $thorn;
    }
  }
}

h2 {
  // color: white;
  background-color: $thorn;
  width: 100%;
  padding: .5rem;
}

h3 {
  margin-top: 1rem;
  color: $aqua;
  a, a:visited {
    text-decoration: none;
    color: $aqua;
  }
  a:hover, a:focus {
    text-decoration: underline;
  }
}

h3, h4, p.dates {
  margin: .5rem 0;
}

li {
  padding: .25rem 0;
}

footer {
  padding-top: 1rem;
  i {
    font-size: 2rem;
  }
}